.login {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.background {
  position: absolute;
  width: 1800px;
  height: 1083px;
  left: 0px;
  top: 8px;

  background: linear-gradient(68.5deg, #2e208e 16.57%, #9b56a6 100.9%);
}

.login form {
  margin: 0 auto;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 765px;
  height: 144px;
  left: 418px;
  top: 185px;

  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 144px;
  /* identical to box height */

  color: #ffffff;
}

.header h1 {
  margin: 12px 0;
}
