.login {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  background-color: blueviolet;
}

.background {
  background: url("data:image/svg+xml,%3Csvg width='1600' height='960' viewBox='0 0 1600 960' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1600' height='960' fill='#F5F5F5'/%3E%3Cg clip-path='url(#clip0_1_170)'%3E%3Crect width='1600' height='960' fill='white'/%3E%3Cg clip-path='url(#clip1_1_170)'%3E%3Crect width='1600' height='1083' transform='translate(0 8)' fill='url(#paint0_linear_1_170)'/%3E%3Cellipse cx='174' cy='213.5' rx='377' ry='384.5' fill='url(#paint1_linear_1_170)'/%3E%3Cellipse cx='1367.6' cy='773.03' rx='377' ry='384.5' transform='rotate(-0.539031 1367.6 773.03)' fill='url(#paint2_linear_1_170)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_170' x1='266.138' y1='905.441' x2='1671.24' y2='87.9015' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='#2E208E'/%3E%3Cstop offset='1' stop-color='#9B56A6'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1_170' x1='-18.5' y1='-171' x2='265.014' y2='492.956' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.478185' stop-color='#9426BA' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='#9426BA'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1_170' x1='1175.1' y1='388.53' x2='1458.61' y2='1052.49' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='#DF40A9'/%3E%3Cstop offset='0.692708' stop-color='#4D35A3'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_1_170'%3E%3Crect width='1600' height='960' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_1_170'%3E%3Crect width='1600' height='1083' fill='white' transform='translate(0 8)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ')");
}

.login form {
  margin: 0 auto;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  margin: 12px 0;
}
